<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Password Auditor</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>

<div class="container">
    <h1>Password Auditor</h1>

    <form action="/analyze" method="POST">
        <input type="password" name="password" placeholder="Enter Password" required>
        <button type="submit">Analyze</button>
    </form>
</div>

</body>
</html>